<!-- {{ ansible_managed }} -->
<config>
  <user value="{{ folding_at_home_user }}"/>
  <team value="{{ folding_at_home_team }}"/>
  <passkey value="{{ folding_at_home_passkey }}"/>
  <power value="{{ folding_at_home_power }}"/>
  <gpu value="{{ folding_at_home_use_gpu }}"/>
</config>
