<!-- {{ ansible_managed }} -->
<config>
  <user value="{{ folding_at_home_user }}"/>
  <team value="{{ folding_at_home_team }}"/>
  <passkey value="{{ folding_at_home_passkey }}"/>
  <power value="{{ folding_at_home_power }}"/>
  <gpu value="{{ folding_at_home_use_gpu }}"/>
{% if folding_at_home_proxy is defined %}
  <proxy value={{ folding_at_home_proxy }}" />
  <proxy-enable value="true"
{% endif %}
</config>
